#nextQuestion {
    display: none;
}

#winPic {
    display: none;
}
#losePic {
    display: none;
}
/* #triviaSelect {
    display: none;
} */

.winLossHide {
    display: none;
}

input {
    color: white;
}

.input-field>label {
    color: white;
}

.select-wrapper input.select-dropdown {
    border-bottom: 1px solid white;
}

button {
    margin: 0.25rem;
    font: 24px;
}